BOARD_URL=https://app.milanote.com/YOUR_BOARD/shared-view?p=YOUR_PERMISSION
WEBHOOK_URL=https://YOUR_WEBHOOK_HOST/receive
WEBHOOK_TOKEN=YOUR_WEBHOOK_TOKEN
API_TOKEN=YOUR_API_TOKEN
RUN_TOKEN=YOUR_MANUAL_TRIGGER_TOKEN
